node_modules
dist
dist-ssr
src-tauri/target
src-tauri/gen
src-tauri/WixTools
.git
.github
.idea
.vscode
.env
.env.local
.env.*.local
*.log
.DS_Store
coverage
tsconfig.tsbuildinfo
README.md
!nginx.conf
